$green: #74de8e;
$black: #444;
$white: #fff;
$gray: #6e6f71;
$betnano: #5babf1;
$b-daybot: #f25d5c;
$al-saba: #5bf1a7;
$overwatch-league: #4A4C4E;

*:not(.background) {
  z-index: 1;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  background: $white;
  color: $black;
}

.background {
  position: absolute;
  height: 110vh;
  min-height: 400px;
  top: 0;
  right: 0;
}

/* ==================== */
/* ==== containers ==== */
/* ==================== */

header {
  height: 100vh;
}

section {
  padding: 2em 0;
}

#webgl {
  height: 50vh;
  min-height: 200px;
  margin-top: 12vh;
}

/* ======================== */
/* ==== navigation bar ==== */
/* ======================== */

nav img {
  height: 2.5em;
}

nav li {
  margin-left: 2em;
  font-size: 1em;
  font-weight: 600;
}

nav li:hover {
  cursor: pointer;
  color: $black + 20;
}

/* ========================= */
/* ==== headings / text ==== */
/* ========================= */

h1 {
  margin-top: 18vh;
  font-size: 3.25em;
  font-weight: bolder;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

p {
  font-size: 1.5em;
  font-weight: 100;
  color: $gray;
}

span {
  white-space: nowrap;
}

/* ================== */
/* ==== projects ==== */
/* ================== */

.project {
  height: 30vh;
  max-height: 250px;
  min-height: 125px;
  transition: all .12s ease-in-out;
}

.project:hover {
  cursor: pointer;
}

.project img {
  height: 6.5vh;
  max-height: 50px;
  min-height: 32px;
}

#betnano {
  background: $betnano;
}

#betnano:hover {
  background: $betnano + 20;
}

#b-daybot {
  background: $b-daybot;
}

#b-daybot:hover {
  background: $b-daybot + 20;
}

#al-saba {
  background: $al-saba;
}

#al-saba:hover {
  background: $al-saba + 20;
}

#overwatch-league {
  background: $overwatch-league;
}

#overwatch-league:hover {
  background: $overwatch-league + 20;
}

#overwatch-league img {
  height: 18vh;
  max-height: 150px;
  min-height: 75px;
}

/* ================ */
/* ==== footer ==== */
/* ================ */

footer {
  padding-bottom: 1em;
  font-size: 1em;
  color: $gray;
}

footer li {
  display: inline;
  margin-right: 1.5em;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: $gray;
}

footer a:hover {
  color: $gray - 32;
}

/* ======================= */
/* ==== media queries ==== */
/* ======================= */

@media (max-width: 768px) {
  h1 {
    margin-top: 6vh;
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  footer ul,
  footer div {
    text-align: center;
  }

  #webgl {
    height: 40vh;
    margin-top: 0;
  }
}